<cia-dialog #dialog></cia-dialog>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-45">
          Esqueci minha senha
        </span>
        <span class="error-subheader2 p-t-20 p-b-15">
          Insira seu nome de usuário.
        </span>
        <div class="form-group mb-5">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nome de usuário</mat-label>
            <input matInput formControlName="identification" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="loginForm.get('identification').hasError('required')">
              Nome de usuário é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-login100-form-btn">
          <cia-spinner-button type="submit" icon="lock_open" color="primary" [loading]="loading"
            text="Recuperar senha" loadingText="Enviando nova senha..." title="Recuperar senha">
          </cia-spinner-button>
          <!-- <button class="login100-form-btn" type="submit">
            
          </button> -->
        </div>
        <div class="w-full p-t-25 text-center">
          <div>
            <a routerLink="/login" class="txt1">
              Login
            </a>
          </div>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/pages/bg-li.jpeg');">
      </div>
    </div>
  </div>
</div>

<button mat-raised-button></button>