<cia-dialog #dialog></cia-dialog>
<cia-spinner></cia-spinner>
<section class="content">

    <div class="centered-content">
        <div class="container-fluid">
            <!-- Your content goes here  -->
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="m-b-20">
                            <div class="contact-grid">
                                <div class="profile-header bg-dark">
                                    <div class="user-name">{{ user_data.profileName }}</div>
                                    <div class="name-center">{{ profile_player.rank }} - {{ profile_player.rank }}
                                    </div>
                                </div>
                                <img src="{{ profile_player.avatarProfileImage }}" class="user-img" alt="">
                                <div class="row">
                                    <div class="col-4">
                                        <h5>{{ profile_player.stats.kills}}</h5>
                                        <small>Abates</small>
                                    </div>
                                    <div class="col-4">
                                        <h5>{{ profile_player.stats.deaths}}</h5>
                                        <small>Mortes</small>
                                    </div>
                                    <div class="col-4">
                                        <h5>{{ profile_player.stats.kd}}</h5>
                                        <small>K/D</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-md-12">
                    <cia-card title="Minhas Informações">
                        <cia-form-row>
                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Nome</mat-label>
                                    <input matInput required placeholder="João da Silva"
                                        [(ngModel)]="profile_player.name" />
                                </mat-form-field>
                            </div>
                         </cia-form-row>
                        <cia-form-row>
                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Steam ID</mat-label>
                                    <input matInput required placeholder="Steam Id"
                                        [(ngModel)]="profile_player.steamUserId" />
                                </mat-form-field>
                            </div>

                            <div class="col-lg-6 pt-8">
                                <div class="pull-right">
                                    <cia-spinner-button buttonClass="mat-stroked-button" height="48px" type="button"
                                        (click)="visitSteamProfile()" [inline]="true" marginRight="0px" color="primary"
                                        icon="send" pull="right" text="Perfil na Steam">
                                    </cia-spinner-button>
                                </div>
                            </div>
                        </cia-form-row>
                        <cia-form-row>
                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>GC Level (GamersClub)</mat-label>
                                    <input matInput required placeholder="GC Level"
                                        [(ngModel)]="profile_player.gcLevel" />
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Link perfil na GC (GamersClub)</mat-label>
                                    <input matInput required placeholder="Link perfil na GamersClub"
                                        [(ngModel)]="profile_player.gcLink" />
                                </mat-form-field>
                            </div>
                        </cia-form-row>
                        <cia-form-row>
                            <div class="col-lg-6">
                                <player-rankings name="rankings" [(ngModel)]="profile_player.rank"></player-rankings>
                            </div>
                            <div class="col-lg-6">
                                <label for="igl">IGL</label>
                                <div>
                                    <cia-switch name="igl" [(ngModel)]="profile_player.inGameLeader"></cia-switch>
                                </div>
                            </div>
                        </cia-form-row>
                        <cia-form-row>
                            <div class="col-lg-12">
                                <tinymce [(ngModel)]="profile_player.about" [config]="config"></tinymce>
                            </div>
                        </cia-form-row>
                    </cia-card>
                    <cia-card>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <cia-spinner-button type="button" (click)="updateProfilePlayer()" color="primary"
                                    icon="send" pull="right" [loading]="loading" loadingText="Atualizando..."  text="Atualizar">
                                </cia-spinner-button>
                            </div>
                        </div>
                    </cia-card>
                </div>
            </div>
        </div>
    </div>
</section>