.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  opacity: 0.5;
}

.spinner {
  position: absolute;
  left: 46%;
  top: 40%;
  /*margin-top: -70px;*/
  display: block;
}

.grid-edit,
.grid-remove {
  cursor: pointer;
  /*font-size: 1.5em;*/
}
.grid-remove {
  /*font-size: 1.7em;*/
  margin-left: 5px;
}
.left-5 {
  margin-left: 5px;
}

.mat-icon-button {
  -webkit-box-shadow: 9px 7px 22px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 7px 22px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 7px 22px -12px rgba(0, 0, 0, 0.75);
}
