
<cia-dialog #dialog></cia-dialog>
<cia-spinner [overlay]="true" [show]="loading"></cia-spinner>

<cia-card subtitle="Filtros" first="true">
  <cia-form-row>
    <div class="col-lg-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Administrador" [(ngModel)]="params.login" />
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <cia-users-admin-profiles-selector id="profileId" [(ngModel)]="params.profileId"></cia-users-admin-profiles-selector>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="params.active">
          <mat-option value="">Todos</mat-option>
          <mat-option value="true">Ativos</mat-option>
          <mat-option value="false">Inativos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </cia-form-row>
  <cia-form-row>
    <div class="col-lg-12">
      <div class="pull-left">
        <button mat-raised-button (click)="refresh()">
          <mat-icon>clear</mat-icon> Limpar
        </button>
      </div>
      <div class="pull-right">
        <button mat-raised-button color="primary" (click)="findUsersAdmin()">
          <mat-icon>search</mat-icon> Pesquisar
        </button>
      </div>
    </div>
  </cia-form-row>
</cia-card>

<cia-card subtitle="Usuários Cadastrados">

  <cia-grid
    [rows]="usersAdmin"
    [columns]="['Nome', 'Login', 'Perfil', 'Data de Criação']"
    [fields]="['name', 'login', 'profileName', 'formattedCreateDate']"
    [loading]="searching"
    showActive="true"
    showEdit="true"
    (onEdit)="detailsUserAdmin($event)"
    showInactive="true"
    (onInactive)="inactiveUserAdmin($event)">
  </cia-grid>
</cia-card>
