<cia-dialog #dialog></cia-dialog>
<!-- <cia-spinner [overlay]="true" [show]="loading"></cia-spinner> -->
<!-- <div *ngIf="loading" class="page-loader-wrapper">
  <div class="loader">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div> -->

<div class="limiter">
  <div class="container-login100" style="
  background-image: url('assets/images/pages/bg-li.jpeg');  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
    <div class="wrap-login100">
      <form class="login100-form bg2 validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span class="login100-form-title pb-3">
          <img src="assets/images/logo_atitude-01.png" alt="" /> <br>
          <!-- <span class="logo-name" style="color: black;">Logo Empresa</span><br> -->
          <!-- <img src="assets/images/logo_atitude-01.png" alt="" /><br> -->
          <!-- <img src="assets/images/cialaboral.png" alt="" /><br> -->
          <!-- <span style="font-size: 18px">Administrativo</span> -->
        </span>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nome de usuário</mat-label>
              <input matInput formControlName="login" />
              <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="flex-sb-m w-full p-t-15 p-b-20">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""> Remember me
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>  -->
        <!-- </div> -->
        <div class="container-login100-form-btn">
          <cia-spinner-button type="submit" icon="lock_open" color="primary" [loading]="loading" text="Entrar"
            loadingText="Efetuando login..." title="Efetuar Login">
          </cia-spinner-button>
          <!-- <button class="login100-form-btn" type="submit">
            Entrar
          </button> -->
        </div>
        <div style="margin-top: 10px;">
          <a routerLink="/login/signup">Novo cadastro</a>
        </div>
        <!-- <div class="text-center p-t-30 p-b-20">
          <span class="txt3">
            or <a routerLink="/authentication/signup">
              sign up
            </a> using
          </span>
        </div>
        <div class="login100-form-social flex-c-m">
          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fab fa-twitter"></i>
          </a>
        </div> -->
      </form>
      <div class="login100-more">
        <button mat-raised-button></button>
      </div>
    </div>
  </div>
</div>