<section class="content">
  <div class="card">
    <div class="header">
      <div class="header-feature">
        <cia-form-row>
          <div class="col-lg-12">
            <div class="pull-left">
              <h2>
                Usuários
                <small>Gerenciamento de usuários</small>
              </h2>
            </div>
            <div class="pull-right" style="margin-top: 15px;">
              <button mat-stroked-button (click)="newUserAdmin()">
                <mat-icon>add_box</mat-icon> Novo usuário
              </button>
            </div>
          </div>
        </cia-form-row>
      </div>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs (selectedTabChange)="selectedTab($event)" #matTab>
    <mat-tab label="Listagem" #tabList (selectTab)="refresh()">
      <access-users-list #list (onEdit)="detailsUserAdmin($event)"></access-users-list>
    </mat-tab>
    <mat-tab label="Detalhes/Edição" [disabled]="!isEditing" #tabEdit>
      <access-users-editor #editor></access-users-editor>
    </mat-tab>
  </mat-tab-group>

</section>
