<section class="content">
  <div class="card">
    <div class="header">
      <div class="header-feature">
        <cia-form-row>
          <div class="col-lg-12">
            <div class="pull-left">
              <h2>
                Acessos
                <small>Gerenciamento de acessos</small>
              </h2>
            </div>
            <div class="pull-right" style="margin-top: 15px;">
              <button mat-stroked-button>
                <mat-icon>add_box</mat-icon> Novo perfil
              </button>
            </div>
          </div>
        </cia-form-row>
      </div>
    </div>
  </div>

  <cia-dialog #dialog></cia-dialog>

  <mat-accordion class="card example-headers-align">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>list</mat-icon> Features de Acessos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="row menublock">
        <cia-menublock-item size="xs" icon="users" text="Usuários" routerLinkActive="active"
          [routerLink]="['/admin/acessos/usuarios']">
        </cia-menublock-item>

        <cia-menublock-item size="xs" icon="sitemap" text="Perfis" routerLinkActive="active"
          [routerLink]="['/admin/acessos/perfis']">
        </cia-menublock-item>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <router-outlet></router-outlet>

</section>
