<section class="content">
  <div class="card">
    <div class="header">
      <div class="header-feature">
        <cia-form-row>
          <div class="col-lg-12">
            <div class="pull-left">
              <h2>
                Usuários
                <small>Gerenciamento de usuários - novo</small>
              </h2>
            </div>
            <div class="pull-right" style="margin-top: 15px;">
              <button mat-stroked-button (click)="back()">
                <mat-icon>arrow_back</mat-icon> Voltar
              </button>
            </div>
          </div>
        </cia-form-row>
      </div>
    </div>
  </div>

  <cia-dialog #dialog></cia-dialog>
  <cia-spinner [overlay]="true" [show]="loading"></cia-spinner>

  <cia-card title="Dados do usuário">
    <cia-form-row>
      <div class="col-lg-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="João da Silva" [(ngModel)]="userAdmin.name" required />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <label for="active">Ativo</label>
        <div>
          <cia-switch name="active" [(ngModel)]="userAdmin.active"></cia-switch>
        </div>
      </div>
    </cia-form-row>
    <cia-form-row>
      <div class="col-lg-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="joao.silva@gmail.com" [(ngModel)]="userAdmin.email" required />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput placeholder="joao.silva" [(ngModel)]="userAdmin.login" required />
        </mat-form-field>
      </div>
    </cia-form-row>

    <cia-form-row>
      <div class="col-lg-12">
        <cia-users-admin-profiles-selector #profileSelector placeholder="Selecione o perfil" [(ngModel)]="userAdmin.profileId">
        </cia-users-admin-profiles-selector>
      </div>
    </cia-form-row>
  </cia-card>

  <cia-card>
    <div class="col-lg-12">
      <div class="pull-right">
        <cia-spinner-button icon="save" text="Salvar" (click)="onRegister()" color="primary"
          loadingText="Processando..." [loading]="loading"></cia-spinner-button>
      </div>
    </div>
  </cia-card>
</section>
